<h2>Send out bills</h2>
<%= form_tag send_bills_mailing_path(@mailing) do %>
<div class="form-row form-check mr-4 pb-2">
  <%= check_box_tag :test, :test, @test, class: "form-check-input" %>
  <label for="html" class="form-check-label">Test?</label>
</div>
<div class="form-group row mt-3">
  <div class="col-sm-3">
    <button type="submit" class="btn btn-primary">Send out bills</button> | <%= link_to 'Edit', edit_billing_mailing_path(@mailing) %>
  </div>
</div>
<% end %>
