<h2>New Mailing</h2>

<%= form_with model: @mailing, method: "post" do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <div class="row mt-3">
    <div class="col-sm-3">
      <%= f.submit "Create", class: "btn btn-primary", data: {disable_with: false} %> | <%= link_to 'Back', mailings_path %>
    </div>
  </div>
<% end %>
