<div class="form-row">
  <div class="form-group col-sm-2">
    <%= f.text_field :MemberSince, id: "MemberSince", class: "form-control", readonly: read_only_not(['Admin', 'Membership']), required: true %>
    <label class="form-control-placeholder" for="MemberSince">Member Since</label>
  </div>
  <div class="form-group row">
    <label for="Status" class="col-form-label pt-0 col-sm-4">Status</label>
    <div class="col-sm-2">
      <%= f.collection_select :Status, Memberstatus.all, :Status, :Status, class: "form-control", disabled: read_only_not(['Admin', 'Membership']) %>
    </div>
  </div>
  <div class="form-group col-sm-3">
    <%= f.text_field 'mooring_num', class: "form-control", readonly: read_only_not(['Admin','Harbormaster']), required: true %>
    <label class="form-control-placeholder" for="mooring_num">Mooring #</label>
  </div>
</div>
