<div class="dynamic-form-installment initiation_installment" data-new-record="<%= f.object.new_record? %>">
    <div class="row">
	<div class="col-sm-2">
	    <span class="has-float-label">
		<%= f.number_field :amount, id: :amount, class: "form-control", placeholder: " " %>
		<label for="amount">Amount:</label>
	    </span>
	</div>
	<div class="col-sm-2">
	    <span class="has-float-label">
		<%= f.number_field :year, id: :year, class: "form-control", placeholder: " " %>
		<label for="year">Year:</label>
	    </span>
	</div>
	<div class ="col-sm-2">
	    <%= f.hidden_field :_destroy %>
	    <button type="button" data-action="dynamic-form#remove_installment", class="btn btn-link">Remove installment</button>
	</div>
    </div>
</div>
