<h2>Generate Labels (Avery 5160)</h2>
<%= form_tag download_labels_memberships_path do %>
<label>Type</label>
<%= select_tag :labels, options_for_select(@label_options, @labels) %>
<button type='submit' class='btn btn-primary'>Generate</button> | <%= link_to 'Back', back_link(1) %>
<% end %>

<p class="small mt-3">Note: When printing these labels, make sure "Page Scaling" is set to "None".</p>
