<div id="membership-list">
<h1>Uploaded Binnacles</h1>

<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>Publication Date
      <th>PDF Files
    </tr>
  </thead>
  <tbody>
<%- for binnacle in @binnacles %>
  <tr>
    <td><%= binnacle.publication_date %>
    <td><% binnacle.pdfs.each do |pdf| %>
          <%= pdf.pdf_file_name%><br/>
        <% end %>
    <td class="list-actions">
      <%= link_to 'Show', binnacle_path(binnacle) %></br>
      <%= link_to 'Delete', binnacle, data: {confirm: 'Are you sure?'}, :method => :delete %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

