<h2>Edit Wait List Entry</h2>

<%= form_for @wait_list_entry do |f| %>
  <div class="row">
    <label for="Membership" class="col-form-label col-sm-2 pt-2">Membership:</label>
    <div class="col-sm-4">
      <p><%= @wait_list_entry.membership.MailingName %></p>
    </div>
  </div>
  <%= render partial: "form", locals: {f: f, button: "Update"} %>
<% end %>

