<h2>Dry Sailing Storage Assignment</h2>

<p class='small'>To display a boat in this list, change it's location to "Parking Lot" by editing the membership data.</p>

<div id='table'>
  <%= render 'drysail' %>
</div>
