<h2>Are you sure you want to unsubscribe?</h2>
<%= form_with url: "/unsubscribe/#{@hash}", method: :put do |f| %>
<div class="row">
  <div class="col-sm-3">
    <%= f.submit "Unsubscribe", class: "btn btn-primary" %> | <%= link_to "Cancel", :controller => 'sessions', :action => 'new' %>
  </div>
</div>
<% end %>
