<h2>Generate Invoices</h2>
<%= form_with url: generate_invoices_quickbooks_path do |f| %>
  <div class="row form-check ms-2 mr-4 pb-2">
    <span>
      <label for="test" class="form-check-label">Test?</label>
      <%= f.check_box :test, checked: @test, class: "form-check-input"  %>
    </span>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3">
      <%= f.submit "Generate Invoices", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
