<div id="footer" class="mt-3 d-flex align-items-center justify-content-center">
  <div class="row text-center">
    <a class-"align-middle" style="font-size:small" href="/privacy_policy.html">Privacy Policy</a>
  </div>
</footer>
